In [12]:
# Importing Python libraries
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib notebook
import math

In [13]:
# Load the dataset
dataset = pd.read_csv('https://raw.githubusercontent.com/dhuppenkothen/machine-learning-tutorial/gh-pages/data/sweets_data_200611.tsv', sep='\t')

In [14]:
# Display dataset
dataset

    Type of Candy  has_m  has_s  length  width  height  colour
0      peanut m&m      1      0    1.80   1.30    1.00    blue
1      peanut m&m      1      0    1.60   1.30    1.00    blue
2      peanut m&m      1      0    1.70   1.20    0.90  orange
3      peanut m&m      1      0    2.30   1.10    1.00    blue
4      peanut m&m      1      0    1.60   1.30    0.80    blue
..            ...    ...    ...     ...    ...     ...     ...
98     jellybeans      0      0    1.40   0.90    1.00    pink
99       skittles      0      1    1.31   0.80    1.30   brown
100    peanut m&m      1      0    1.95   1.35    1.43   green
101        cookie      0      0    4.60   1.40    4.30   brown
102    jellybeans      0      0    1.60   0.90    1.00   white

[103 rows x 7 columns]

In [15]:
#eliminate color column for accuracy
dataset = dataset.drop('colour', axis = 1)

In [16]:
dataset

    Type of Candy  has_m  has_s  length  width  height
0      peanut m&m      1      0    1.80   1.30    1.00
1      peanut m&m      1      0    1.60   1.30    1.00
2      peanut m&m      1      0    1.70   1.20    0.90
3      peanut m&m      1      0    2.30   1.10    1.00
4      peanut m&m      1      0    1.60   1.30    0.80
..            ...    ...    ...     ...    ...     ...
98     jellybeans      0      0    1.40   0.90    1.00
99       skittles      0      1    1.31   0.80    1.30
100    peanut m&m      1      0    1.95   1.35    1.43
101        cookie      0      0    4.60   1.40    4.30
102    jellybeans      0      0    1.60   0.90    1.00

[103 rows x 6 columns]

In [17]:
# Dataset information 
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Type of Candy  103 non-null    object
 1   has_m          103 non-null    int64
 2   has_s          103 non-null    int64
 3   length         103 non-null    float64
 4   width          103 non-null    float64
 5   height         103 non-null    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 5.0+ KB

In [18]:
# Training data
training_df = dataset.iloc[:69]

In [19]:
# Training data
training_df

   Type of Candy  has_m  has_s  length  width  height
0     peanut m&m      1      0     1.8    1.3    1.00
1     peanut m&m      1      0     1.6    1.3    1.00
2     peanut m&m      1      0     1.7    1.2    0.90
3     peanut m&m      1      0     2.3    1.1    1.00
4     peanut m&m      1      0     1.6    1.3    0.80
..           ...    ...    ...     ...    ...     ...
64    peanut m&m      1      0     1.9    1.4    1.20
65    peanut m&m      1      0     1.9    1.3    1.30
66    peanut m&m      1      0     1.8    1.6    1.40
67    peanut m&m      1      0     1.8    1.6    1.70
68    jellybeans      0      0     1.5    1.0    0.95

[69 rows x 6 columns]

In [20]:
# Training data
test_df = dataset.iloc[69:103]

In [21]:
test_df

    Type of Candy  has_m  has_s  length  width  height
69      plain m&m      1      0    1.30   1.30    0.70
70     peanut m&m      1      0    2.80   1.60    1.60
71     peanut m&m      1      0    2.29   1.75    1.50
72     peanut m&m      1      0    1.89   1.51    1.50
73     peanut m&m      1      0    2.05   1.46    1.48
74     peanut m&m      1      0    2.04   1.82    1.71
75     peanut m&m      1      0    1.95   1.60    1.37
76     peanut m&m      1      0    2.22   1.58    1.44
77      plain m&m      1      0    1.35   1.28    0.61
78      plain m&m      1      0    1.32   1.35    0.70
79      plain m&m      1      0    1.40   1.43    0.73
80      plain m&m      1      0    1.34   1.31    0.70
81      plain m&m      1      0    1.40   1.31    0.75
82      plain m&m      1      0    1.38   1.39    0.77
83      plain m&m      1      0    1.32   1.39    0.72
84      plain m&m      1      0    1.31   1.37    0.70
85      plain m&m      1      0    1.39   1.38    0.77
86      plain m&m      1      0    1.40   1.38    0.75
87     peanut m&m      1      0    1.90   1.40    1.20
88     peanut m&m      1      0    2.07   1.49    1.62
89       skittles      0      1    1.20   1.00    1.20
90       skittles      0      1    1.30   0.80    1.20
91       skittles      0      1    1.30   0.90    1.20
92     jellybeans      0      0    1.40   1.00    1.00
93     jellybeans      0      0    1.30   0.80    0.80
94     jellybeans      0      0    1.40   1.00    1.00
95       skittles      0      1    1.25   1.30    0.82
96      plain m&m      1      0    1.30   0.65    1.30
97     jellybeans      0      0    1.40   1.00    1.00
98     jellybeans      0      0    1.40   0.90    1.00
99       skittles      0      1    1.31   0.80    1.30
100    peanut m&m      1      0    1.95   1.35    1.43
101        cookie      0      0    4.60   1.40    4.30
102    jellybeans      0      0    1.60   0.90    1.00

In [22]:
# training data and labels
X = data.iloc[:, 1:6]
Y = data["Type of Candy"]

NameError: name 'data' is not defined

In [ ]:
X

In [ ]:
Y

In [ ]:
# Splitting the dataset into training and test set.  
from sklearn.model_selection import train_test_split

In [ ]:
#separate training  and the test data and labels
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, shuffle=True, random_state=0)

In [ ]:
# Training data
X_train

In [ ]:
# Testing Data
X_test

In [ ]:
# change the training and the test data to numpy arrays
X_train = np.array(X_train)
X_test = np.array(X_test)

In [ ]:
# Testing data converted to array
X_train

In [ ]:
# Testing data converted to array
X_test

In [ ]:
# Function to calculate Euclidean distance between two examples/points
def Calculate_Euclidean_dist (m, n):
    return math.dist(m, n)

In [ ]:
# function to calculate distance between first target row and all rows in train data
def test_distance (train, test_row):
    distances = list()
    for example in train:
        dist = Calculate_Euclidean_dist(test_row, example)
        distances.append(dist)
    return np.array(distances)

In [ ]:
test_distance(X_train, X_test[0])

In [ ]:
#function to return labels array and sorted distances
def sorted_distance(labels, train, test_row):
    distance = test_distance(train, test_row)
    label_sorted = list(zip(labels.copy(), distance))
    label_sorted.sort(key= lambda tup: tup[1])
    return label_sorted
#result = np.array(result)

In [ ]:
sorted_distance(y_train, X_train, X_test[0])

In [ ]:
# function to count the occurence rate of each label in k-nearest neighbors
def get_neighbors(labels, train, test_row, k):
    #k =[1, 2, 5, 10, 20]
    for each in k:
        print ('\n', f"With k = {each}", '\n')
        result = sorted_distance(labels, train, test_row)
        label_array = np.array([result[i] for i in range(each)])
        print (label_array)
        label, count = np.unique(label_array[:, 0], return_counts=True)
        label_count = dict(zip(label, count))
        print (label_count)
        accuracy = max(count)*100/sum(count)
        print(f'Accuracy = {accuracy}%')

In [ ]:
get_neighbors(y_train, X_train, X_test[0], k=[1,2,5,10,20])

   Assuming that we pick the class for our example that corresponds to the highest number of training examples out of our k nearest neighbours:

   how does the prediction for your chosen target example change as you increase k?

- From the prediction , When the value of k=1,2,5,and 10,the  example is classified as 'Skittles' since 'Skittles' is the majority class for each k. When k=20, still, the unlabelled target example is classified as 'Skittles' because 'Jellybeans' are only 7 labels and 'Skittles' are 13.

Does the algorithm predict your example accurately?

- Yes, the algorithm predict the  example accurately, since when we look at our test data, the first example/row was labeled as "Skittles", and "Skittles" is the majority class for each given k value.